:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F4266;
    --hero-background-color: #2E2F42B2;
    --white-background-color: #FFFFFF;
    --modal-background-color: #FCFCFC;
}

body {
   font-family: "Roboto", sans-serif;
   color: var(--text-color);
   background-color: var(--modal-background-color);
}

.nav-links .link {
        color: var(--dark-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
}

.nav-links .link:active,
.nav-links .link:hover,
.nav-links .link:focus {
    border-radius: 2px;
    color: var(--pressed-state-color);
}

.address-links .link {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address-links .link:hover {
    color: var(--pressed-state-color)
}

.link {
    text-decoration: none;
}

.filter-button {
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    /* Button Text */
        color: var(--white-background-color);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
}

.filter-button:hover {
    background-color: var(--pressed-state-color);
}

.logo {
    color: var(--primary-brand-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-span {
    color: var(--dark-color);
}

.title-background {
    background-color: var(--dark-color);
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
}

.title {
    color: var(--white-background-color);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.team-background {
    background-color: var(--light-color);
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
}

.headertwo {
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.headerthree {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

